In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [2]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 1)

In [3]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [4]:
F_sel = ['O%',
 'MAXDP',
 'DELS',
 'Psi_i_A',
 'EE_B(s)',
 'GATS5p',
 'Mor16u',
 'Mor04s',
 'CATS2D_03_AL',
 'TPSA(NO)'
]
trainD = trainD[['O%',
 'MAXDP',
 'DELS',
 'Psi_i_A',
 'EE_B(s)',
 'GATS5p',
 'Mor16u',
 'Mor04s',
 'CATS2D_03_AL',
 'TPSA(NO)','active']]
testD = testD[['O%',
 'MAXDP',
 'DELS',
 'Psi_i_A',
 'EE_B(s)',
 'GATS5p',
 'Mor16u',
 'Mor04s',
 'CATS2D_03_AL',
 'TPSA(NO)','active']]

In [5]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=1, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True)

In [6]:
compare_models()

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [7]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

     EE_B(s)    Mor16u  CATS2D_03_AL  active  Label   Score
0   4.209669  0.114127     -0.418377       1      1  0.6283
1   1.617277  1.736262      1.730325       0      1  0.6284
2   4.363976 -1.174933     -0.418377       0      1  0.6283
3   1.725293 -0.700518      2.267500       0      1  0.6284
4  -0.234431 -0.823371     -0.418377       1      1  0.6285
5  -1.407179 -0.449445     -0.418377       0      1  0.6286
6   0.675992 -0.715129      0.118798       1      1  0.6285
7   1.679000 -0.998406      2.267500       1      1  0.6284
8   1.848740  0.412314      1.730325       0      1  0.6284
9  -0.172707 -0.151259     -0.418377       1      1  0.6285
10  1.432106  0.793993      1.730325       0      1  0.6284
11 -0.002968  2.383327     -0.418377       1      1  0.6285
12  0.058756  1.166726     -0.418377       0      1  0.6285
13  0.089618  1.190580      0.118798       1      1  0.6285

In [8]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

     EE_B(s)    Mor16u  CATS2D_03_AL  active  Label   Score
0   4.209669  0.114127     -0.418377       1      1  0.9867
1   1.617277  1.736262      1.730325       0      0  0.8458
2   4.363976 -1.174933     -0.418377       0      0  0.8482
3   1.725293 -0.700518      2.267500       0      0  0.9984
4  -0.234431 -0.823371     -0.418377       1      1  0.8965
5  -1.407179 -0.449445     -0.418377       0      1  0.9965
6   0.675992 -0.715129      0.118798       1      1  0.9969
7   1.679000 -0.998406      2.267500       1      0  0.9990
8   1.848740  0.412314      1.730325       0      0  0.9825
9  -0.172707 -0.151259     -0.418377       1      1  0.9995
10  1.432106  0.793993      1.730325       0      0  0.8649
11 -0.002968  2.383327     -0.418377       1      1  0.9991
12  0.058756  1.166726     -0.418377       0      1  0.9992
13  0.089618  1.190580      0.118798       1      1  0.9882

In [11]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

     EE_B(s)    Mor16u  CATS2D_03_AL  active  Label   Score
0   4.209669  0.114127     -0.418377       1      0  0.6060
1   1.617277  1.736262      1.730325       0      0  0.5043
2   4.363976 -1.174933     -0.418377       0      0  0.8751
3   1.725293 -0.700518      2.267500       0      0  0.7636
4  -0.234431 -0.823371     -0.418377       1      1  0.6858
5  -1.407179 -0.449445     -0.418377       0      1  0.8256
6   0.675992 -0.715129      0.118798       1      0  0.7481
7   1.679000 -0.998406      2.267500       1      0  0.8751
8   1.848740  0.412314      1.730325       0      0  0.5043
9  -0.172707 -0.151259     -0.418377       1      1  0.8778
10  1.432106  0.793993      1.730325       0      0  0.5043
11 -0.002968  2.383327     -0.418377       1      1  0.8632
12  0.058756  1.166726     -0.418377       0      1  0.6960
13  0.089618  1.190580      0.118798       1      1  0.6960

In [12]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

     EE_B(s)    Mor16u  CATS2D_03_AL  active  Label   Score
0   4.209669  0.114127     -0.418377       1      0  0.5341
1   1.617277  1.736262      1.730325       0      0  0.8789
2   4.363976 -1.174933     -0.418377       0      0  0.5432
3   1.725293 -0.700518      2.267500       0      0  0.9166
4  -0.234431 -0.823371     -0.418377       1      1  0.6910
5  -1.407179 -0.449445     -0.418377       0      1  0.9888
6   0.675992 -0.715129      0.118798       1      0  0.5445
7   1.679000 -0.998406      2.267500       1      0  0.9191
8   1.848740  0.412314      1.730325       0      0  0.9320
9  -0.172707 -0.151259     -0.418377       1      1  0.9628
10  1.432106  0.793993      1.730325       0      0  0.9677
11 -0.002968  2.383327     -0.418377       1      1  0.8563
12  0.058756  1.166726     -0.418377       0      1  0.8073
13  0.089618  1.190580      0.118798       1      1  0.6007

In [13]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

     EE_B(s)    Mor16u  CATS2D_03_AL  active  Label   Score
0   4.209669  0.114127     -0.418377       1      1  0.9741
1   1.617277  1.736262      1.730325       0      0  0.5378
2   4.363976 -1.174933     -0.418377       0      1  0.7160
3   1.725293 -0.700518      2.267500       0      0  0.8476
4  -0.234431 -0.823371     -0.418377       1      1  0.9904
5  -1.407179 -0.449445     -0.418377       0      1  0.9990
6   0.675992 -0.715129      0.118798       1      1  0.8873
7   1.679000 -0.998406      2.267500       1      0  0.9456
8   1.848740  0.412314      1.730325       0      0  0.5378
9  -0.172707 -0.151259     -0.418377       1      1  0.9994
10  1.432106  0.793993      1.730325       0      0  0.5378
11 -0.002968  2.383327     -0.418377       1      1  0.9982
12  0.058756  1.166726     -0.418377       0      1  0.9982
13  0.089618  1.190580      0.118798       1      1  0.9982

In [14]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

     EE_B(s)    Mor16u  CATS2D_03_AL  active  Label   Score
0   4.209669  0.114127     -0.418377       1      1  0.5560
1   1.617277  1.736262      1.730325       0      0  0.9029
2   4.363976 -1.174933     -0.418377       0      0  0.7588
3   1.725293 -0.700518      2.267500       0      0  0.9189
4  -0.234431 -0.823371     -0.418377       1      1  0.7151
5  -1.407179 -0.449445     -0.418377       0      1  0.9383
6   0.675992 -0.715129      0.118798       1      0  0.5207
7   1.679000 -0.998406      2.267500       1      0  0.9889
8   1.848740  0.412314      1.730325       0      0  0.9029
9  -0.172707 -0.151259     -0.418377       1      1  0.9526
10  1.432106  0.793993      1.730325       0      0  0.8862
11 -0.002968  2.383327     -0.418377       1      1  0.9074
12  0.058756  1.166726     -0.418377       0      1  0.8467
13  0.089618  1.190580      0.118798       1      1  0.7625

In [15]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

     EE_B(s)    Mor16u  CATS2D_03_AL  active  Label   Score
0   4.209669  0.114127     -0.418377       1      1  0.6800
1   1.617277  1.736262      1.730325       0      0  0.8466
2   4.363976 -1.174933     -0.418377       0      1  0.5944
3   1.725293 -0.700518      2.267500       0      0  0.9323
4  -0.234431 -0.823371     -0.418377       1      1  0.8444
5  -1.407179 -0.449445     -0.418377       0      1  0.8444
6   0.675992 -0.715129      0.118798       1      1  0.5944
7   1.679000 -0.998406      2.267500       1      0  0.9323
8   1.848740  0.412314      1.730325       0      0  0.8466
9  -0.172707 -0.151259     -0.418377       1      1  0.9301
10  1.432106  0.793993      1.730325       0      0  0.8466
11 -0.002968  2.383327     -0.418377       1      1  0.8475
12  0.058756  1.166726     -0.418377       0      1  0.8475
13  0.089618  1.190580      0.118798       1      1  0.8475

In [16]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

     EE_B(s)    Mor16u  CATS2D_03_AL  active  Label   Score
0   4.209669  0.114127     -0.418377       1      0  0.6885
1   1.617277  1.736262      1.730325       0      0  0.9944
2   4.363976 -1.174933     -0.418377       0      0  0.9482
3   1.725293 -0.700518      2.267500       0      0  0.9964
4  -0.234431 -0.823371     -0.418377       1      1  0.9321
5  -1.407179 -0.449445     -0.418377       0      1  0.8248
6   0.675992 -0.715129      0.118798       1      0  0.8163
7   1.679000 -0.998406      2.267500       1      0  0.9987
8   1.848740  0.412314      1.730325       0      0  0.9825
9  -0.172707 -0.151259     -0.418377       1      1  0.9944
10  1.432106  0.793993      1.730325       0      0  0.9944
11 -0.002968  2.383327     -0.418377       1      1  0.8992
12  0.058756  1.166726     -0.418377       0      1  0.8992
13  0.089618  1.190580      0.118798       1      1  0.9345