In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [2]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 9)

In [3]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [4]:
F_sel = ['MAXDN',
 'EE_B(s)',
 'MATS1i',
 'RDF100m',
 'G3m',
 'HATS5u',
 'HATS6u',
 'CATS2D_03_AL',
 'F05[C-O]',
 'TPSA(NO)'
]
trainD = trainD[['MAXDN',
 'EE_B(s)',
 'MATS1i',
 'RDF100m',
 'G3m',
 'HATS5u',
 'HATS6u',
 'CATS2D_03_AL',
 'F05[C-O]',
 'TPSA(NO)','active']]
testD = testD[['MAXDN',
 'EE_B(s)',
 'MATS1i',
 'RDF100m',
 'G3m',
 'HATS5u',
 'HATS6u',
 'CATS2D_03_AL',
 'F05[C-O]',
 'TPSA(NO)','active']]

In [5]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=9, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True)

In [6]:
compare_models()

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=4, verbose=0,
                       warm_start=False)

In [7]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.6570
1  -1.022166  0.313814      -0.65520       1      1  0.7809
2  -0.625104  0.108381      -0.65520       1      1  0.8683
3  -2.116768  4.826430      -1.79088       1      1  0.5953
4   1.853849 -0.094745       1.04832       0      0  0.8569
5  -2.116768 -1.132761      -1.79088       1      1  0.9767
6   0.118045  0.207635      -0.65520       1      1  0.8107
7   0.249505 -1.070901       0.19656       0      1  0.9183
8  -1.446056 -0.556393      -1.22304       1      1  0.9524
9  -1.083871 -0.274787      -1.22304       1      1  0.8661
10 -2.116768 -0.110902      -1.79088       1      1  0.6583
11 -1.083871  0.297657      -0.65520       1      1  0.7834
12  1.853849  2.033456       2.75184       0      0  0.9961
13  0.861195  0.295349       1.61616       0      0  0.9231

In [8]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      0  0.5124
1  -1.022166  0.313814      -0.65520       1      0  0.5093
2  -0.625104  0.108381      -0.65520       1      1  0.6353
3  -2.116768  4.826430      -1.79088       1      0  0.5184
4   1.853849 -0.094745       1.04832       0      0  0.6467
5  -2.116768 -1.132761      -1.79088       1      1  0.6134
6   0.118045  0.207635      -0.65520       1      1  0.6319
7   0.249505 -1.070901       0.19656       0      0  0.5656
8  -1.446056 -0.556393      -1.22304       1      1  0.6134
9  -1.083871 -0.274787      -1.22304       1      0  0.5118
10 -2.116768 -0.110902      -1.79088       1      0  0.5157
11 -1.083871  0.297657      -0.65520       1      0  0.5084
12  1.853849  2.033456       2.75184       0      0  0.5330
13  0.861195  0.295349       1.61616       0      0  0.6494

In [9]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.6173
1  -1.022166  0.313814      -0.65520       1      1  0.6066
2  -0.625104  0.108381      -0.65520       1      1  0.6168
3  -2.116768  4.826430      -1.79088       1      1  0.5870
4   1.853849 -0.094745       1.04832       0      1  0.5824
5  -2.116768 -1.132761      -1.79088       1      1  0.6592
6   0.118045  0.207635      -0.65520       1      1  0.6148
7   0.249505 -1.070901       0.19656       0      1  0.6217
8  -1.446056 -0.556393      -1.22304       1      1  0.6590
9  -1.083871 -0.274787      -1.22304       1      1  0.6537
10 -2.116768 -0.110902      -1.79088       1      1  0.6505
11 -1.083871  0.297657      -0.65520       1      1  0.6066
12  1.853849  2.033456       2.75184       0      1  0.5157
13  0.861195  0.295349       1.61616       0      1  0.5295

In [10]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.7686
1  -1.022166  0.313814      -0.65520       1      1  0.8705
2  -0.625104  0.108381      -0.65520       1      1  0.8931
3  -2.116768  4.826430      -1.79088       1      0  0.6310
4   1.853849 -0.094745       1.04832       0      0  0.8663
5  -2.116768 -1.132761      -1.79088       1      1  0.6049
6   0.118045  0.207635      -0.65520       1      1  0.6684
7   0.249505 -1.070901       0.19656       0      1  0.6114
8  -1.446056 -0.556393      -1.22304       1      1  0.8775
9  -1.083871 -0.274787      -1.22304       1      1  0.9077
10 -2.116768 -0.110902      -1.79088       1      0  0.4410
11 -1.083871  0.297657      -0.65520       1      1  0.8720
12  1.853849  2.033456       2.75184       0      0  0.6605
13  0.861195  0.295349       1.61616       0      0  0.8954

In [11]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.5314
1  -1.022166  0.313814      -0.65520       1      1  0.5284
2  -0.625104  0.108381      -0.65520       1      1  0.5310
3  -2.116768  4.826430      -1.79088       1      1  0.5291
4   1.853849 -0.094745       1.04832       0      1  0.5231
5  -2.116768 -1.132761      -1.79088       1      1  0.5311
6   0.118045  0.207635      -0.65520       1      1  0.5302
7   0.249505 -1.070901       0.19656       0      1  0.5251
8  -1.446056 -0.556393      -1.22304       1      1  0.5315
9  -1.083871 -0.274787      -1.22304       1      1  0.5317
10 -2.116768 -0.110902      -1.79088       1      1  0.5310
11 -1.083871  0.297657      -0.65520       1      1  0.5295
12  1.853849  2.033456       2.75184       0      1  0.5215
13  0.861195  0.295349       1.61616       0      1  0.5212

In [12]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.7385
1  -1.022166  0.313814      -0.65520       1      1  0.7184
2  -0.625104  0.108381      -0.65520       1      1  0.7730
3  -2.116768  4.826430      -1.79088       1      1  0.5718
4   1.853849 -0.094745       1.04832       0      0  0.7587
5  -2.116768 -1.132761      -1.79088       1      1  0.8139
6   0.118045  0.207635      -0.65520       1      1  0.6498
7   0.249505 -1.070901       0.19656       0      1  0.6275
8  -1.446056 -0.556393      -1.22304       1      1  0.8663
9  -1.083871 -0.274787      -1.22304       1      1  0.8284
10 -2.116768 -0.110902      -1.79088       1      1  0.7071
11 -1.083871  0.297657      -0.65520       1      1  0.7250
12  1.853849  2.033456       2.75184       0      0  0.8296
13  0.861195  0.295349       1.61616       0      0  0.8620

In [13]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.7178
1  -1.022166  0.313814      -0.65520       1      1  0.6185
2  -0.625104  0.108381      -0.65520       1      1  0.7178
3  -2.116768  4.826430      -1.79088       1      1  0.6185
4   1.853849 -0.094745       1.04832       0      0  0.7723
5  -2.116768 -1.132761      -1.79088       1      1  0.8527
6   0.118045  0.207635      -0.65520       1      1  0.6691
7   0.249505 -1.070901       0.19656       0      1  0.5866
8  -1.446056 -0.556393      -1.22304       1      1  0.7582
9  -1.083871 -0.274787      -1.22304       1      1  0.7178
10 -2.116768 -0.110902      -1.79088       1      1  0.7178
11 -1.083871  0.297657      -0.65520       1      1  0.6185
12  1.853849  2.033456       2.75184       0      0  0.8716
13  0.861195  0.295349       1.61616       0      0  0.8716

In [14]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.6008
1  -1.022166  0.313814      -0.65520       1      1  0.5986
2  -0.625104  0.108381      -0.65520       1      1  0.6008
3  -2.116768  4.826430      -1.79088       1      1  0.5985
4   1.853849 -0.094745       1.04832       0      1  0.5893
5  -2.116768 -1.132761      -1.79088       1      1  0.6016
6   0.118045  0.207635      -0.65520       1      1  0.5999
7   0.249505 -1.070901       0.19656       0      1  0.5933
8  -1.446056 -0.556393      -1.22304       1      1  0.6016
9  -1.083871 -0.274787      -1.22304       1      1  0.6016
10 -2.116768 -0.110902      -1.79088       1      1  0.6016
11 -1.083871  0.297657      -0.65520       1      1  0.5986
12  1.853849  2.033456       2.75184       0      1  0.5863
13  0.861195  0.295349       1.61616       0      1  0.5864