In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [2]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 3)

In [3]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [4]:
F_sel = ['DELS', 'EE_B(s)', 'TPSA(NO)']
trainD = trainD[['DELS', 'EE_B(s)', 'TPSA(NO)','active']]
testD = testD[['DELS', 'EE_B(s)', 'TPSA(NO)','active']]

In [5]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=3, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True)

In [6]:
compare_models()

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='binary:logistic', random_state=3, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='auto',
              use_label_encoder=True, validate_parameters=1, verbosity=0)

In [7]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

        DELS   EE_B(s)  TPSA(NO)  active  Label   Score
0  -0.411240 -1.231039 -1.825487       1      1  0.6346
1  -0.163866 -1.062264 -1.825487       1      1  0.6346
2   0.454570  0.999205  0.676482       0      1  0.6345
3   0.872014  1.143869  1.109212       0      1  0.6345
4  -0.040178  0.589323  0.436513       0      1  0.6345
5  -0.143251  0.251772 -0.208649       0      1  0.6345
6   0.011358  0.589323  0.436513       1      1  0.6345
7  -0.545234 -0.387163 -0.232252       1      1  0.6345
8  -0.272092  0.348215  0.003783       0      1  0.6345
9  -0.349396 -1.291316 -0.114235       0      1  0.6345
10  0.485492  1.011260  0.676482       0      1  0.6345
11 -0.833838 -1.074319 -1.030837       1      1  0.6346
12 -0.127790  0.046831  0.562398       1      1  0.6345
13 -0.303014 -0.194277 -0.232252       1      1  0.6345

In [8]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

        DELS   EE_B(s)  TPSA(NO)  active  Label   Score
0  -0.411240 -1.231039 -1.825487       1      1  0.5003
1  -0.163866 -1.062264 -1.825487       1      1  0.5003
2   0.454570  0.999205  0.676482       0      0  0.5001
3   0.872014  1.143869  1.109212       0      0  0.5001
4  -0.040178  0.589323  0.436513       0      0  0.5001
5  -0.143251  0.251772 -0.208649       0      1  0.5002
6   0.011358  0.589323  0.436513       1      0  0.5001
7  -0.545234 -0.387163 -0.232252       1      1  0.5003
8  -0.272092  0.348215  0.003783       0      1  0.5001
9  -0.349396 -1.291316 -0.114235       0      1  0.5002
10  0.485492  1.011260  0.676482       0      0  0.5001
11 -0.833838 -1.074319 -1.030837       1      1  0.5003
12 -0.127790  0.046831  0.562398       1      0  0.5001
13 -0.303014 -0.194277 -0.232252       1      1  0.5003

In [9]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

        DELS   EE_B(s)  TPSA(NO)  active  Label   Score
0  -0.411240 -1.231039 -1.825487       1      1  0.6707
1  -0.163866 -1.062264 -1.825487       1      1  0.6505
2   0.454570  0.999205  0.676482       0      1  0.5927
3   0.872014  1.143869  1.109212       0      1  0.5927
4  -0.040178  0.589323  0.436513       0      1  0.5927
5  -0.143251  0.251772 -0.208649       0      1  0.6069
6   0.011358  0.589323  0.436513       1      1  0.5927
7  -0.545234 -0.387163 -0.232252       1      1  0.6707
8  -0.272092  0.348215  0.003783       0      1  0.6030
9  -0.349396 -1.291316 -0.114235       0      1  0.6693
10  0.485492  1.011260  0.676482       0      1  0.5927
11 -0.833838 -1.074319 -1.030837       1      1  0.6707
12 -0.127790  0.046831  0.562398       1      1  0.5927
13 -0.303014 -0.194277 -0.232252       1      1  0.6513

In [10]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

        DELS   EE_B(s)  TPSA(NO)  active  Label   Score
0  -0.411240 -1.231039 -1.825487       1      1  0.8272
1  -0.163866 -1.062264 -1.825487       1      1  0.8521
2   0.454570  0.999205  0.676482       0      0  0.8275
3   0.872014  1.143869  1.109212       0      0  0.7680
4  -0.040178  0.589323  0.436513       0      0  0.8101
5  -0.143251  0.251772 -0.208649       0      0  0.4279
6   0.011358  0.589323  0.436513       1      0  0.8149
7  -0.545234 -0.387163 -0.232252       1      1  0.8816
8  -0.272092  0.348215  0.003783       0      0  0.5466
9  -0.349396 -1.291316 -0.114235       0      1  0.8768
10  0.485492  1.011260  0.676482       0      0  0.8245
11 -0.833838 -1.074319 -1.030837       1      1  0.9306
12 -0.127790  0.046831  0.562398       1      0  0.7429
13 -0.303014 -0.194277 -0.232252       1      1  0.8070

In [11]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

        DELS   EE_B(s)  TPSA(NO)  active  Label   Score
0  -0.411240 -1.231039 -1.825487       1      1  0.9712
1  -0.163866 -1.062264 -1.825487       1      1  0.9547
2   0.454570  0.999205  0.676482       0      1  0.9015
3   0.872014  1.143869  1.109212       0      1  0.9015
4  -0.040178  0.589323  0.436513       0      1  0.9015
5  -0.143251  0.251772 -0.208649       0      1  0.9028
6   0.011358  0.589323  0.436513       1      1  0.9015
7  -0.545234 -0.387163 -0.232252       1      1  0.9698
8  -0.272092  0.348215  0.003783       0      1  0.9222
9  -0.349396 -1.291316 -0.114235       0      1  0.9695
10  0.485492  1.011260  0.676482       0      1  0.9015
11 -0.833838 -1.074319 -1.030837       1      1  0.9703
12 -0.127790  0.046831  0.562398       1      1  0.9015
13 -0.303014 -0.194277 -0.232252       1      1  0.9367

In [12]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

        DELS   EE_B(s)  TPSA(NO)  active  Label   Score
0  -0.411240 -1.231039 -1.825487       1      1  0.7555
1  -0.163866 -1.062264 -1.825487       1      1  0.7313
2   0.454570  0.999205  0.676482       0      0  0.5250
3   0.872014  1.143869  1.109212       0      0  0.5695
4  -0.040178  0.589323  0.436513       0      1  0.5500
5  -0.143251  0.251772 -0.208649       0      1  0.6406
6   0.011358  0.589323  0.436513       1      1  0.5486
7  -0.545234 -0.387163 -0.232252       1      1  0.7232
8  -0.272092  0.348215  0.003783       0      1  0.6127
9  -0.349396 -1.291316 -0.114235       0      1  0.7171
10  0.485492  1.011260  0.676482       0      0  0.5263
11 -0.833838 -1.074319 -1.030837       1      1  0.7557
12 -0.127790  0.046831  0.562398       1      1  0.5934
13 -0.303014 -0.194277 -0.232252       1      1  0.6856

In [13]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

        DELS   EE_B(s)  TPSA(NO)  active  Label   Score
0  -0.411240 -1.231039 -1.825487       1      1  0.8320
1  -0.163866 -1.062264 -1.825487       1      1  0.6580
2   0.454570  0.999205  0.676482       0      0  0.8990
3   0.872014  1.143869  1.109212       0      0  0.8990
4  -0.040178  0.589323  0.436513       0      0  0.8790
5  -0.143251  0.251772 -0.208649       0      0  0.5424
6   0.011358  0.589323  0.436513       1      0  0.8790
7  -0.545234 -0.387163 -0.232252       1      1  0.9602
8  -0.272092  0.348215  0.003783       0      0  0.5529
9  -0.349396 -1.291316 -0.114235       0      1  0.7990
10  0.485492  1.011260  0.676482       0      0  0.8990
11 -0.833838 -1.074319 -1.030837       1      1  0.8320
12 -0.127790  0.046831  0.562398       1      0  0.8790
13 -0.303014 -0.194277 -0.232252       1      1  0.8147

In [14]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

        DELS   EE_B(s)  TPSA(NO)  active  Label   Score
0  -0.411240 -1.231039 -1.825487       1      1  0.6352
1  -0.163866 -1.062264 -1.825487       1      1  0.6351
2   0.454570  0.999205  0.676482       0      1  0.6338
3   0.872014  1.143869  1.109212       0      1  0.6338
4  -0.040178  0.589323  0.436513       0      1  0.6338
5  -0.143251  0.251772 -0.208649       0      1  0.6343
6   0.011358  0.589323  0.436513       1      1  0.6338
7  -0.545234 -0.387163 -0.232252       1      1  0.6352
8  -0.272092  0.348215  0.003783       0      1  0.6340
9  -0.349396 -1.291316 -0.114235       0      1  0.6349
10  0.485492  1.011260  0.676482       0      1  0.6338
11 -0.833838 -1.074319 -1.030837       1      1  0.6352
12 -0.127790  0.046831  0.562398       1      1  0.6340
13 -0.303014 -0.194277 -0.232252       1      1  0.6351